
body {
  background: black;
  width: 100%;
  height: 100%;
}

#total {
  color: red;
}
/* I wanted to apply these styles to the div container rather than the body but I wasn't able to get the black background to stretch to full screen */

/* At one point my output div was inheriting styles from #form1....while not actually contained within #form1 in the html. I fixed this by placing the div on top of the form in the html instead of beneath it....wtf? */
h3 {
  font-family: 'Trade Winds', cursive;
}
.address, .pizzaSelect {
  display: flex;
  justify-content: center;
}

#form1 {
  display: none;
  color: white;
}

#output {
  display: flex;
  justify-content: center;
  display: none;
  color: white;
  height: 100%;
  text-align: center;


}
ul {
  list-style-type: none;
}
.welcomeRat {
display: flex;
justify-content: center;
position: relative;
width: 100%;
background-color: black;
}
#ratHeader h3{
  position: absolute;
  top: 250px;
  left: 0;
  width: 100%;
  font-family: 'Trade Winds', cursive;
  text-align: center;
  color: white;
  font-size: 80px;
  text-shadow: -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
     2px 2px 0 #000;
}
#ratHeader h3:hover {
  color: red;
}

.ratText {
  font-family: 'Trade Winds', cursive;
  text-shadow: -2px -2px 0 #000,
    2px -2px 0 #000,
    -2px 2px 0 #000,
     2px 2px 0 #000;
     color: red;
     font-size: 60px;
}

.toppings {
  margin-right: 20px;
}
